.banner {
    background-color: rgb(40, 178, 182);
    height: 80vh;
}

.MVO {
    grid-template-areas:"misi visi objektif";
    padding-inline: 5rem;
    color: #858EAD;
}

.MVO a {
    color: rgb(58, 58, 218);
    text-decoration: underline;
}

.misi {
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 170px;
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
}
.visi {
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 170px;
    border: 3px solid rgba(0, 0, 0, 0.25);    
    border-radius: 5px;
    padding: 15px;
}
.objektif {
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 170px;
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
}

.MVOtitle {
    margin-block: 3rem;
}

.mvoIcon {
    width: 50px;
    height: 50px;
    background-color: rgb(23, 23, 23);
}



.MVO .mvopad {
    padding-block: 10px;
    color: #212121;
}

.tentangImg{
    background-color: rgb(98, 98, 98);
    width: 600px;
    height: 600px;
    margin: 10rem;
    margin-inline: 20rem;
}

.tentangText{
    position: absolute;
    background-color: #2947A9;
    color: aliceblue;
    width: 350px;
    height: 450px;
    margin-inline: 50rem;
    margin-top: -45rem;
    padding: 2rem;
}

.tentangText h3{
    font-weight: 400;
}

.tentangText a div{
    display: flex;
    width: 10rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.skm {
    background-color: #f6f8f7;
}

.skm h2 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 5rem;
}

.skmCard {
    grid-template-areas: 
    "card1 card2 card3 card4"
    "card5 card6 card7 card8";
    padding-inline: 5rem;
    gap: 3rem;
}

.skmCard div {
    width: 15rem;
    height: 7.5rem;
    background-color: rgb(26, 26, 26);
    justify-self: center;
    align-self: center;
}

.skmButton {
    width: 15rem;
    height: 4rem;
    background-color: #2947a9;
    border-radius: 2rem;
    margin-block: 5rem;
    margin-inline: auto;
}

.sijil {
    grid-template-areas: "text text img";
    margin-inline: 5rem;
    margin-bottom: 5rem;
}

.sijilText {
    grid-area: text;
}

.sijilImg {
    grid-area: img;
}
.sijilImg img{
    width: 35rem;
}