body {
    background-color: #fff;
    margin: auto;
    font-family: system-ui;
    color: #212121;
}

a {
    color: rgb(67, 67, 67);
    transition: all .2s;
    text-decoration: none;
}

.grid {
    display: grid;
}

.pad10 {
    padding: 1.25rem;
}

